<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->
<nz-layout>
  <nz-header class="inner-header" style="border-bottom:0px" >
    <div class="logo">Ter</div>
    <ul nz-menu nzTheme="light" nzMode="horizontal">
      <!-- <li nz-menu-item>TerBlog</li> -->
      <li nz-menu-item><a [routerLink]="'index'">首页</a></li>
      <li nz-menu-item><a [routerLink]="'about'">关于</a></li>
      <li nz-menu-item><a href="http://terbililive.mter.top/" target="_blank">TerBiliLive</a></li>
      <li nz-menu-item class="user"><a href="https://github.com/mxnter" target="_blank"><i nz-icon style="font-size: 24px;" nzType="github" nzTheme="outline"></i></a></li>
<!--      <li nz-menu-item class="user"><i nz-icon type="setting"></i></li>-->
    </ul>
  </nz-header>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
  <nz-footer><a href="https://github.com/mxnter/TerBlog_Angular" target="_blank">TerBlog</a> ©2019-2020 Implement By Angular And ng-zorro-antd</nz-footer>
  <nz-back-top [nzVisibilityHeight]="200"></nz-back-top>
</nz-layout>



