<!-- NG-ZORRO -->
<!-- <a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->
<nz-layout>
  <nz-header class="inner-header" style="border-bottom:0px" >
    <div class="logo"></div>
    <ul nz-menu nzTheme="light" nzMode="horizontal">
      <!-- <li nz-menu-item>TerBlog</li> -->
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
      <li nz-menu-item class="user">Mxnter</li>
      <li nz-menu-item class="user"><i nz-icon type="setting"></i></li>
    </ul>
  </nz-header>
  <nz-content>
    <!-- <nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb> -->
    <div class="inner-carousel"> 
      <nz-carousel [nzEffect]="'fade'" [nzAutoPlaySpeed]="5000" nzAutoPlay>
        <div nz-carousel-content>
          <img class="img" src="http://www.dongao.com/upload/resources/image/2017/04/18/61906.jpg">
        </div>
        <div nz-carousel-content>
          <img class="img" src="http://pic.rmb.bdstatic.com/25c008d6b25d0b0b2ea3d3ada86336fa.jpeg">
        </div>
        <div nz-carousel-content>
          <img class="img" src="http://attachments.gfan.net.cn/forum/attachments2/day_101030/1010302150dc2ba686103d73b7.jpg">
        </div>
      </nz-carousel>
  
    <!-- <div>
      <img width="100%" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
    </div> -->
    </div>

    <div class="inner-content">

      <nz-card *ngFor="let i of ['1','2','3']" [nzHoverable]="true" [nzCover]="coverTemplate"  [nzActions]="[actionSetting, actionEdit, actionEllipsis,actionEllipsiss]">
        <nz-card-meta
        [nzTitle]="'Card title'+ i"
        nzDescription="This is the description"
        [nzAvatar]="avatarTemplate"
      ></nz-card-meta>
        <!-- <ng-template #coverTemplate>
            <img height="200px" alt="example" src="http://www.dongao.com/upload/resources/image/2017/04/18/61906.jpg" />
          </ng-template> -->
        <ng-template #actionSetting>
            <i nz-icon nzType="heart" nzTheme="outline"></i>
          </ng-template>
          <ng-template #actionEdit>
            <i nz-icon nzType="like" nzTheme="outline"></i>
          </ng-template>
          <ng-template #actionEllipsis>
              <i nz-icon nzType="message" nzTheme="outline"></i>
          </ng-template>
          <ng-template #actionEllipsiss>
              <i nz-icon nzType="share-alt" nzTheme="outline"></i>
            </ng-template>
      </nz-card>


    </div>



  </nz-content>
  <nz-footer>TerBlog ©2019 Implement By Angular And ng-zorro-antd</nz-footer>
</nz-layout>


 